## 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [6]:
test1 = "This is a test of the emergency text system"
with open ('test.txt', 'w') as f:
    f.write(test1)

----------

## 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

## Ans - no difference between the two. Look below.

In [2]:
test2 = open("test.txt", "r")
test2.read()

'This is a test of the emergency text system'

In [3]:
test1

'This is a test of the emergency text system'

--------------

## 3. Create a CSV file called books.csv by using these lines:
- title,author,year
- The Weirdstone of Brisingamen,Alan Garner,1960
- Perdido Street Station,China Miéville,2000
- Thud!,Terry Pratchett,2005
- The Spellman Files,Lisa Lutz,2007
- Small Gods,Terry Pratchett,1992

In [7]:
import csv

with open ('books.csv', 'w', newline='', encoding ='utf-8') as file:
    writer = csv.writer(file)
    field = ['title', 'author', 'year']
    
    writer.writerow(field)
    writer.writerow(['The Weirdstone of Brisingamen', 'Alan Garner', 1960])
    writer.writerow(['Perdido Street Station', 'China Miéville', 2000])
    writer.writerow(['Thud!','Terry Pratchett', 2005])
    writer.writerow(['The Spellman Files', 'Lisa Lutz',2007])
    writer.writerow(['Small Gods','Terry Pratchett',1992])

-----------

## 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [ ]:
import sqlite3
connection = sqlite3.connect('books.db')
cursor = connection.cursor()
cursor.execute("Create table books (title TEXT, author TEXT, year INTEGER)")

------------------

## 5. Read books.csv and insert its data into the book table.

In [9]:
import pandas as pd
data = pd.read_csv('books.csv')
data.to_sql('data', connection, if_exists = 'append', index = False)

5

-------------

## 6. Select and print the title column from the book table in alphabetical order.

In [ ]:
#Retrieving specific records using the ORDER BY clause
cursor.execute("SELECT * from books ORDER BY TITLE")
print(cursor.fetchall())

#Commit your changes in the database
connection.commit()

#Closing the connection
connection.close()

-----------

## 7. From the book table, select and print all columns in the order of publication.

In [ ]:
#Retrieving specific records using the ORDER BY clause
cursor.execute("SELECT * from books ORDER BY YEAR")
print(cursor.fetchall())

#Commit your changes in the database
connection.commit()

#Closing the connection
connection.close()

-------

## 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [6]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

In [5]:
from sqlalchemy import create_engine
 
user = 'root'
password = 'password'
host = '127.0.0.1'
port = 5432
database = 'books.db'
 
def get_connection():
    engine = sqlalchemy.create_engine("sqlite:///books.db")
    rows = engine.execute('select * from books')
    for i in rows:
        print(i)
 
if __name__ == '__main__':
 
    try:
        engine = get_connection()
        print(
            f"Connection to the {host} for user {user} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)

Connection to the 127.0.0.1 for user root created successfully.

------

## 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [1]:
pip install redis

Requirement already satisfied: redis in c:\users\61421\anaconda3\lib\site-packages (4.5.5)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\61421\anaconda3\lib\site-packages (from redis) (4.0.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import redis
r_conn = redis.Redis()
r_conn.delete('test')
r_conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
r_conn.hgetall('test')

-------

## 10. Increment the count field of test and print it.

In [ ]:
r_conn.hincrby('test','count', 3)