## 1. What advantages do Excel spreadsheets have over CSV spreadsheets?

## Advantages of Excel -
### - CSV allows to move basic data only. Excel allows operations on data. CSV has no distinction between text and numeric values. Excel does.

--------

## 2. What do you pass to csv.reader() and csv.writer() to create reader and writer objects?

## Ans - pass "r" in csv.reader() and pass "w" in csv.writer()

-------------

## 3. What modes do File objects for reader and writer objects need to be opened in?

## w+

-----------

## 4. What method takes a list argument and writes it to a CSV file?

In [13]:
# Using CSV
import csv
fields = ['Employee Name', 'ID', 'Salary']
rows = [
    ['XYZ', '011', '2000'],
    ['ABC', '012', '8000'],
    ['PQR', '351', '5000'],
    ['EFG', '146', '10000']
]
with open('EmployeeData.csv', 'w') as f:
    csv_writer = csv.writer(f)
    csv_writer.writerow(fields)
    csv_writer.writerows(rows)
pd.read_csv('EmployeeData.csv')

  Employee Name   ID  Salary
0           XYZ   11    2000
1           ABC   12    8000
2           PQR  351    5000
3           EFG  146   10000

In [17]:
# Using Pandas
import pandas as pd  
emp = ["XYZ", "ABC", "PQR", "EFG"] 
id = [111, 112, 321, 146] 
sal = [2000, 8000, 5000, 10000] 
dict = {'Employee': emp, 'ID': id, 'Salary': sal}  
df = pd.DataFrame(dict)
df.to_csv('EmployeeDatausingPD.csv')
pd.read_csv('EmployeeDatausingPD.csv')

   Unnamed: 0 Employee   ID  Salary
0           0      XYZ  111    2000
1           1      ABC  112    8000
2           2      PQR  321    5000
3           3      EFG  146   10000

In [11]:
# Using Numpy
import numpy as np
rows = [['Employee', 'ID', 'Salary'],
        ['XYZ', '011', '2000'], 
        ['ABC', '012', '8000'],
        ['PQR', '351', '5000'],
        ['EFG', '146', '10000']]
np.savetxt("EmployeeDatausingNumpy.csv", 
           rows,
           delimiter =", ",  
           fmt ='% s')
pd.read_csv('EmployeeDatausingNumpy.csv')

  Employee   ID   Salary
0      XYZ   11     2000
1      ABC   12     8000
2      PQR  351     5000
3      EFG  146    10000

-----------

# 5. What do the keyword arguments delimiter and line terminator do?

## Ans - delimiter is the character that appears between cells on a row. In CSV files these are commas.
## The line terminator is the character that comes at the end of the row.

-----------

## 6. What function takes a string of JSON data and returns a Python data structure?

## Ans - we use jason.loads() to parse a JSON string and reutrn a Python object such as a dictionary.

---------

## 7. What function takes a Python data structure and returns a string of JSON data?

## Ans - If you have a Python object, you can convert it to a JSON string by using a json.dumps() method